body {
    font: 10px 'andele mono', monospace;
    margin: 10px 0 10px 0px;
}
#content{
    padding: 0 !important;
    height: unset !important;
}
#logo {
    visibility: visible;
    height: 40px
}

.btn,
.breadcrumb {
    visibility: hidden;
    position: fixed;
}

.imprimir {
    visibility: visible;
}
tfoot {
    font-weight: bolder;
    border-top: 2px solid #f8a31f;
}

.remover,.daterangepicker, .tabs,.actions, .filters, .sort-link,
.collapsed {
    visibility: hidden;
    position: fixed;
    height: 0px;
    display: none;
}

input,
select,
.button-column {
    visibility: hidden;
    display: none;
}

.yiiPager {
    visibility: hidden;
}

.accordion-body .collapse {
    visibility: hidden;
    position: fixed;
    height: 0px;
}

.main-nav,
#footer,
#left,
.mobile-sidebar-toggle,
.toggle-nav,
#brand,
.user,
.mobile-nav,
.progress {
    visibility: hidden;
    position: fixed;
    height: 0px;
}

.table {
    visibility: visible;
    width: 100%;
}

.pull-right,
.minitiles {
    visibility: hidden;
    display: none;
}

.pull-left {
    width: 100%;
}

.pull-left h1 {
    font-size: 14px;
    color: #2a2a2a;
    line-height: 14px;
}

table,
tr,
th,
td {
    border-collapse: collapse;
    border:1px solid #bdbdbd;
}
td{
    padding-left: 3px;
}
a {
    color: black;
    text-decoration: none;
}

th {
    padding-right: 4px;
}


/*//table {page-break-after: always;}*/

.panel-collapse collapse in {
    overflow: hidden;
}

#myTab {
    padding: 0;
}

#myTab li {
    visibility: hidden;
    display: none;
}

.collapse {
    visibility: hidden;
    display: none;
}

.collapse.in {
    visibility: visible;
    display: block;
}

.txway {
    top: -5px;
    right: 0;
}

table {
    page-break-inside: always
}

tr {
    page-break-inside: avoid;
    page-break-after: always
}
.tab-pane{
    visibility: hidden;
    display: none;
}
.tab-pane.active{
    visibility: visible;
    display: block;
}

/*Propias del proyecto inventario*/
.main{
    margin-left: 0px;

}
.invoice-from,.invoice-to,address{
    font-size: 10px;
    margin-bottom: 10px;
}
.noImprimir{
    display: none;
}
